body{
font-family:tahoma;
background:#0f172a;
color:#fff;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.card{
background:#1e293b;
padding:25px;
width:320px;
border-radius:12px;
text-align:center;
}

input,select,button{
width:100%;
padding:10px;
margin:6px 0;
border:none;
border-radius:6px;
}

button{
background:#22c55e;
color:#fff;
font-size:16px;
}

p{
color:#38bdf8;
cursor:pointer;
}

.top{
position:fixed;
top:0;
width:100%;
background:#020617;
padding:10px;
display:flex;
justify-content:space-between;
}

.menu{
margin-top:80px;
text-align:center;
}

.menu a{
display:block;
background:#334155;
margin:10px;
padding:12px;
border-radius:8px;
color:white;
text-decoration:none;
}
